{% extends 'base.html.twig' %}

{% block title %}footer{% endblock %}

{% block body %}

    <style>
        .footer {
            width: 100%;
            height: 125px;
            background: #11116C;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="footer"></div>

{% endblock %}