{% extends 'base.html.twig' %}

{% block title %}lesInfo{% endblock %}

{% block body %}

    <style>
        .custom-background {
            width: 1008px;
            height: 873px;
            background: #0E62BB;
            margin: 50px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text-block {
            width: 900px;
            color: #D6D6D5;
            text-align: center;
            font-family: Inter;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 20px auto;
        }

        label, input {
            display: block;
            margin-bottom: 65px;
        }

        .envoyerBouton {
            width: 458px;
            height: 139px;
            border: 3px solid #000;
            background: #0E62BB;
            box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
            color: #D6D6D5;
            text-align: center;
            font-family: Inter;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 139px; /* Ajuste la hauteur de ligne pour centrer verticalement le texte */
            margin: 20px auto; /* Centre le bouton horizontalement */
            display: flex;
            align-items: center; /* Centre verticalement le contenu */
            justify-content: center; /* Centre horizontalement le contenu */
        }

        label {
            display: inline-block;
            width: 400px; /* Ajustez la largeur pour aligner les étiquettes */
            text-align: left; /* Aligne le texte des étiquettes à droite */
            margin-right: 10px; /* Ajoute un espace entre les étiquettes et les champs d'entrée */
        }

        input {
            display: inline-block;
            width: 400px; /* Ajustez la largeur pour les champs d'entrée */
        }
        
    </style>

    <div class="custom-background">
        <div class="text-block">
            <form action="{{ path('traitement_formulaire') }}" method="post">
                <label for="nomUtilisateur">Pseudo Destinataire :</label>
                <input type="text" id="nomUtilisateur" name="nomUtilisateur">

                <label for="volume">Volume :</label>
                <input type="number" id="volume" name="volume">

                <label for="poids">Poids :</label>
                <input type="number" id="poids" name="poids">

                <label for="destination">Destination :</label>
                <input type="text" id="destination" name="destination">

                <input type="submit" value="Suivant" class="envoyerBouton">
            </form>
        </div>
    </div>
{% endblock %}