{# templates/mail/send_mail.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Send Email</h1>

    {{ form_start(form) }}
    {{ form_row(form.sujet) }}
    {{ form_row(form.contenue) }}
    <button type="submit">Send</button>
    {{ form_end(form) }}
{% endblock %}
